.icon-button {
    padding: 9px;
    border: 1px solid transparent;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.icon-button:hover {
    border-color: #3f51b5;
}

.icon-custom {
    color: gray;
}

.icon-button:hover>.icon-custom {
    color: #3f51b5;
}

.color-tag {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}