.container {
    padding: 0 1rem;
    color: #505050;
}

.container h1,
h1 {
    font-size: 1.6rem;
    margin: 0.5rem 0;
    font-weight: 300;
}

.header-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-sidebar .p-sidebar-header {
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1.5rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-row label {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.form-row input,
.form-row textarea,
.form-row select {
    height: 30px;
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #3f51b5;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    color: #343434;
    outline-width: 1px;
    outline-color: #3f51b5;
}

.form-row textarea {
    height: auto;
    border: 1px solid #3f51b5;
    resize: vertical;
    padding: 5px;
}

select {
    width: 100%;
}

.has-columns {
    display: flex;
    gap: 10px;
    align-items: center;
}

.button-custom {
    width: auto;
}

.form-row.small {
    width: 60px;
}